<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TimerUI.Properties.Settings>
            <setting name="CooldownsPosition" serializeAs="String">
                <value>12, 108</value>
            </setting>
            <setting name="CooldownsColors" serializeAs="String">
                <value>204, 255, 0</value>
            </setting>
            <setting name="CooldownsFont" serializeAs="String">
                <value>Arial, 24pt</value>
            </setting>
            <setting name="TopFirstSpellHotkey" serializeAs="String">
                <value>Ctrl+Divide</value>
            </setting>
            <setting name="TopSecondSpellHotkey" serializeAs="String">
                <value>Ctrl+Multiply</value>
            </setting>
            <setting name="JungleFirstSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad8</value>
            </setting>
            <setting name="JungleSecondSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad9</value>
            </setting>
            <setting name="MidFirstSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad5</value>
            </setting>
            <setting name="MidSecondSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad6</value>
            </setting>
            <setting name="AdcFirstSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad2</value>
            </setting>
            <setting name="AdcSecondSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad3</value>
            </setting>
            <setting name="SupportFirstSpellHotkey" serializeAs="String">
                <value>Ctrl+NumPad0</value>
            </setting>
            <setting name="SupportSecondSpellHotkey" serializeAs="String">
                <value>Ctrl+Decimal</value>
            </setting>
        </TimerUI.Properties.Settings>
    </userSettings>
</configuration>